<form ng-submit="createUser(model)" name="createUserForm">
    <div class="form-group">
        <label for="inputName">Username</label>
        <input class="form-control" required id="inputName"  placeholder="Enter name" ng-model="model.name">
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" required class="form-control" id="inputPassword" placeholder="Password" ng-model="model.password">
    </div>
    <div class="form-group">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputSelect">Role</label>
            </div>
            <select class="custom-select" id="inputSelect" ng-model="model.role">
                <option value="Warrior">Warrior</option>
                <option value="Archer">Archer</option>
                <option value="Mage">Mage</option>
            </select>
        </div>
    </div>
    <button class="btn btn-primary">Create</button>
    <div class="alert alert-info" role="alert" ng-if="message">
       {{message}}
    </div>
</form>