<div class="containerj">
    <h1>Users list:</h1>
    <button type="button" ng-click="getUsers()" class="btn btn-primary">Get Users</button>
    <div ng-repeat="user in users" class="list-group">
        <a href="#" data-toggle="modal" data-target="#exampleModal" ng-click="showUser(user)" class="list-group-item list-group-item-action" >{{user}}</a>
    </div>


</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="inputName">Username</label>
                    <input class="form-control" required id="inputName"  placeholder="Enter name" ng-model="model.name">
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" required class="form-control" id="inputPassword" placeholder="Password" ng-model="model.password">
                </div>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputSelect">Role</label>
                        </div>
                        <select class="custom-select" id="inputSelect" ng-model="model.role">
                            <option value="Warrior">Warrior</option>
                            <option value="Archer">Archer</option>
                            <option value="Mage">Mage</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="removeUser(model._id)">Delete</button>
                <button type="button" class="btn btn-primary" ng-click="updateUser(model)">Save changes</button>
            </div>
            <div class="alert alert-info" role="alert" ng-if="message">
                {{message}}
            </div>
        </div>
    </div>
</div>