<form ng-submit="updateUser(model)" name="updateUserForm">
    <div class="form-group">
        <label for="inputName">Username</label>
        <input class="form-control" required id="inputName"  placeholder="Enter name" ng-model="model.name">
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" required class="form-control" id="inputPassword" placeholder="Password"
               ng-model="model.password">
    </div>
    <div class="form-group">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputSelect">Role</label>
            </div>
            <select class="custom-select" id="inputSelect" ng-model="model.role">
                <option value="1">Warrior</option>
                <option value="2">Archer</option>
                <option value="3">Mage</option>
            </select>
        </div>
    </div>
    <button class="btn btn-primary">Update</button>
    <div class="alert alert-info" role="alert" ng-if="message">
        {{message}}
    </div>
</form>
<button class="btn btn-danger" ng-click="removeUser(user._id)">Delete</button>

>>>>{{model}}